* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px 1fr 60px;
}

header{
    grid-area: header;
    background-color: lightblue;
}
nav {
    grid-area: nav;
    background-color: lightgreen;
}
content {
    grid-area: content;
    background-color: lightyellow;
}
sidebar {
    grid-area: sidebar;
    background-color: lightpink;
}
footer {
    grid-area: footer;
    background-color: lightgray;
}