.referencia {
    overflow: hidden;
    width: 100px;
    height: 50px;
    background-color: #F5F1DC;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.referencia:hover {
    background-color: #001BB7;
    color: white;
}

.referencia:active {
    background-color: #FF8040;
    color: black;
}

nav {
    text-align: center;
}

section {
    margin: 10px;
}