.contenido-1 {
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 1px solid gray;
    background-color: azure;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    top: 100px;
    left: 150px;
}
.contenido-2 {
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 1px solid gray;
    background-color: antiquewhite;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top: 100px;
    left: 200px;
}